<div class="row">
    <div class="hidden-xs col-sm 2 col-md-2 col-lg-2 text-center">
        <p>Placement Holder</p>
    </div>
    <div class="panel panel-primary col-sm-8 col-md-8 col-lg-8">
        <div class="panel-heading container-fluid text-left">
            <h2>Home</h2>
        </div>
        <div class="panel-body text-left">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam viverra a orci maximus placerat. Quisque laoreet pellentesque metus at lacinia. Nam ornare placerat lorem eget pellentesque. Vestibulum aliquet volutpat leo, non commodo enim rhoncus nec. Nam euismod sapien vitae dictum feugiat. Maecenas efficitur, sapien ut porta condimentum, augue massa egestas eros, ut imperdiet odio dolor non dolor. Nunc malesuada ex id maximus cursus. Proin tempus ipsum ut ipsum bibendum, non fermentum odio pretium. Pellentesque vitae lectus et mi eleifend fermentum. In tempor aliquet est, eget vulputate lacus vestibulum sit amet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
            </p>
        </div>
    </div>
    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 text-center">
        <p>Placement Holder</p>
    </div>
</div>