<div id="sectionhome" class="container-fluid">
</div>
<div id="sectionaboutus" class="container-fluid">
</div>
<div id="sectionprojects" class="container-fluid">
</div>
<div id="sectionofferte" class="container-fluid">
</div>
<div id="sectioncontact" class="container-fluid">
</div>